@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: flex-start; 
}

.data-stack-dropdown {
  width: 200px;
  margin-top: -50px;
  margin-left: 40px;
  background-color: white;
  text-align: left;
  /* margin-left: 200px; */
}

.radio-button-fields-buytype {
  margin-top: 30px;
  margin-left: 40px;
}

.districts {
  margin-top: -150px;
  margin-left: 350px;
}

.rooms {
  margin-top: 20px;
  margin-left: 340px;
}

.pricerange {
  margin-top: 23px;
  margin-left: 340px;
}

.submit-button {
  margin-left: 880px;
  margin-top: -150px;
}

.submit-button button {
  background-color: rgb(8, 159, 246);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: rgb(0, 74, 139); 
}

.add_favorites {
  margin-left: 880px;
  margin-top: 50px;
  background-color: rgb(8, 159, 246);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.favorites {
  margin-left: 10px;
  margin-top: 50px;
  background-color: rgb(8, 159, 246);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add_favorites:hover {
  background-color: rgb(0, 74, 139); 
}

.favorites:hover {
  background-color: rgb(0, 74, 139); 
}